@import 'breakpoints';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color-white: #fff;
$color-buzz: #5B26CF;
$color-red: #FF0000CC;
$color-light-blue: #2D8ED8;

body {
    font-family: 'Poppins', sans-serif;
    // width: 100%;


    .container {
        display: flex;
        height: 100vh;
       
       

        .d-flex {
            background: url(../../images/banner.png);
            position: relative;
            width: 60%;
            height: 100vh;
            background-position: -20% 45%;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 60px;
         
            

            &--logo {
                position: absolute;
                top: 59px;
            }

            &--heading {
                font-size: 32px;
                font-weight: 600;
                line-height: 50px;
                color: $color-white;
                margin-bottom: 3rem;
            }
            &--subtitle {
                font-size: 15px;
                line-height: 22.5px;
                color: #E2D7F9;
            }

        }

        .b-flex {
            width: 40%;
            padding-left: 5rem;
            padding-right: 5rem;
            height: 100%;
            overflow: auto;

            &--title {
                padding-top: 105px;
                padding-bottom: 12px;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
            
            p {
                font-size: 15px;
                line-height: 22.5px;
                padding-bottom: 40px;
            }

            .switch-btn {
                border: 1px solid $color-buzz;
                display: flex;
                overflow: hidden;
                width: 100%;
                border-radius: 4px;
                text-align: center;
                // height: 63px;
            
                

                .influencer-side {
                    height: 100%;
                    flex-basis: 50%;
                    padding: 7px;
                    background: $color-white;
                    color: $color-buzz;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22.5px;
                    cursor: pointer;
                }

                .brand-side {
                    height: 100%;
                    flex-basis: 50%;
                    padding: 7px;
                    background: $color-buzz;
                    color: $color-white;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22.5px;
                    cursor: pointer;
                }
            }

            form {
                padding-top: 40px;

                label {
                    display: flex;
                    font-size: 13px;
                    line-height: 19.5px;
                    color: #090415A6;
                    padding-bottom: 4px;
                    
                }

                input {
                    border: 1px solid #090415;
                    opacity: 25%;
                    border-radius: 4px;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 20px;
                    position: relative;

                    &::placeholder {
                        font-weight: 400;
                        font-style: italic;
                        font-size: 15px;
                        line-height: 22.5px;
                        color: #090415;
                        opacity: 30%;
                    }

                    &:focus, :active {
                        border: 1px solid #2E1368;
                        opacity: 75%;
                        outline: none;
                    }

                }

                .password {
                    label {
                        color: $color-red;
                    }

                    input {
                        border: 1px solid $color-red;
                        margin-bottom: 4px;
                    }

                    p {
                        color: $color-red;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 19.5px;
                        padding-bottom: 8px;
                    }
                }
            }

            .terms {
                display: flex;
                align-items: baseline;


                p {
                    font-size: 15px;
                    padding-left: 0.5rem;

                }
                    
            }

            button {
                font-size: 15px;
                font-weight: 600;
                line-height: 22.5px;
                padding: 10px;
                color: $color-white;
                background: $color-buzz;
                width: 100%;
                border: none;
                border-radius: 4px;
            }

            .login {
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 15px;
                line-height: 22.5px;
                padding: 32px 0px 46px 0px;
            }
            a {
                color: $color-buzz;
                text-decoration: none;
            }
        }
    }

    // .universal-container {
    //     margin: 0 auto;
    //     width: 1300px;
    //     max-width: 100%;
        
    // }
    
    @include  sm {
        .container {
            .d-flex{
                display: none;
            }

            .b-flex{
                width: 100%;
                padding-left: 1rem;
                padding-right: 1rem;
                height: 100vh;
                align-items: center;
                text-align: center;
                justify-content: center;

                &--title {
                    padding-top: 92px;
                    padding-bottom: 16px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }

                p {
                    font-size: 12px;
                    line-height: 21px;
                    padding-bottom: 20px;
                }

                .switch-btn {
                    width: 80%;
                    margin-left: 2rem;

                    .influencer-side {
                        font-size: 12px;
                        line-height: 21px;
                    }

                    .brand-side {
                        font-size: 12px;
                        line-height: 21px;
                    }
                }

                form {
                    padding-top: 36px;

                    label {
                        font-size: 12px;
                        line-height: 21px;
                        padding-bottom: 1px;
                    }

                    input {
                        padding: 8px;
                        margin-bottom: 16px;
                    }

                    .password {
                        p {
                            text-align: left;
                            font-size: 12px;
                            line-height: 21px;
                        }
                    }
                }

                .terms {
                    p {
                        font-size: 12px;
                        padding-bottom: 40px;
                    }
                }

                button {
                    padding: 8px;
                    font-size: 12px;
                    line-height: 21px;
                }

                .login {
                    font-size: 12px;
                    line-height: 21px;
                    padding: 30px 0px 45px 0px;
                }
            }
        }
    }

    @include md {
      
    }
    
    @include lg {
        
    }

    @include xl {

    }
}